{% extends "base.html" %}


{% block title %}Задание 2{% endblock title %}

{% block content %}
<h1>Задание 2</h1>
<p>
Задание

    Создать страницу, на которой будет форма для ввода имени и электронной почты,
    при отправке которой будет создан cookie-файл с данными пользователя,
    а также будет произведено перенаправление на страницу приветствия, где будет отображаться имя пользователя.
    На странице приветствия должна быть кнопка «Выйти», при нажатии на которую будет удалён cookie-файл с данными пользователя
    и произведено перенаправление на страницу ввода имени и электронной почты.
</p>

<a href="{{ url_for('home_work_2') }}">Проверить</a>



<!--<form method="post">-->
<!--    <input type="submit" value="Нажми меня!">-->
<!--</form>-->
{% endblock content %}