{% extends "base.html" %}


{% block title %}Задание 2{% endblock title %}

{% block content %}
<h1>Домашняя работа 2</h1>


<form action="/home_work_2" method="post">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <input type="text" name="user" placeholder="Имя пользователя">
    <input type="email" name="mail" placeholder="Введите Почту">
    <input type="submit" value="Отправить">
</form>

{% endblock content %}